{{#section 'head'}}
	{{> _header}}
{{/section}}



<div class="container">
	<h1 class="page-header text-center">Certifications</h1>
</div>

<div class="container">
	<div class="row">
		<ul class="list-group">
			<li class="list-group-item mb-2">
				<h4>License:</h4>
				<div class="row">
					{{#each certObj.license}}
					<div class="col-sm-4 mx-auto">
						<div class="card" style="width: 20rem; inline-block">
						  <div class="card-body">
						    <h4 class="card-title">{{title}}</h4>
						    <h6 class="card-subtitle mb-2">issued: {{formatDate issued 'MMMM Do YYYY'}}</h6>
								<h6 class="card-subtitle mb-2">expiration: {{formatDate expiration 'MMMM Do YYYY'}}</h6>
						    <p class="card-text">Notes: {{notes}}</p>
								<ul class="list-inline">
								  <li class="list-inline-item">
										<a href="#" class="btn btn-secondary"><i class="fa fa-pencil"></i> Edit</a>
									</li>
								  <li class="list-inline-item">
										<form action="/cert/{{id}}?_method=DELETE" method="POST" id="delete-form">
											<button class="btn btn-danger" type="submit"><i class="fa fa-remove"></i>Delete</button>
										</form>
									</li>
								</ul>
						  </div>
						</div>
					</div>
					{{/each}}
				</div>
			</li>
			<br>
			<li class="list-group-item mb-2">
				<h4>Required:</h4>
				<div class="row">
					{{#each certObj.required}}
					<div class="col-sm-4 mx-auto">
						<div class="card" style="width: 20rem;">
						  <div class="card-body">
						    <h4 class="card-title">{{title}}</h4>
						    <h6 class="card-subtitle mb-2">issued: {{formatDate issued 'MMMM Do YYYY'}}</h6>
								<h6 class="card-subtitle mb-2">expiration: {{formatDate expiration 'MMMM Do YYYY'}}</h6>
						    <p class="card-text">Notes: {{notes}}</p>
								<ul class="list-inline">
								  <li class="list-inline-item">
										<a href="#" class="btn btn-secondary"><i class="fa fa-pencil"></i> Edit</a>
									</li>
								  <li class="list-inline-item">
										<form action="/cert/{{id}}?_method=DELETE" method="POST" id="delete-form">
											<button class="btn btn-danger" type="submit"><i class="fa fa-remove"></i>Delete</button>
										</form>
									</li>
								</ul>
						  </div>
						</div>
					</div>
					{{/each}}
				</div>
			</li>
			<br>
			<li class="list-group-item mb-2">
				<h4>Specialty:</h4>
				<div class="row">
					{{#each certObj.specialty}}
					<div class="col-sm-4 mx-auto">
						<div class="card" style="width: 20rem;">
						  <div class="card-body">
						    <h4 class="card-title">{{title}}</h4>
						    <h6 class="card-subtitle mb-2">issued: {{formatDate issued 'MMMM Do YYYY'}}</h6>
								<h6 class="card-subtitle mb-2">expiration: {{formatDate expiration 'MMMM Do YYYY'}}</h6>
						    <p class="card-text">Notes: {{notes}}</p>
								<ul class="list-inline">
								  <li class="list-inline-item">
										<a href="#" class="btn btn-secondary"><i class="fa fa-pencil"></i> Edit</a>
									</li>
								  <li class="list-inline-item">
										<form action="/cert/{{id}}?_method=DELETE" method="POST" id="delete-form">
											<button class="btn btn-danger" type="submit"><i class="fa fa-remove"></i>Delete</button>
										</form>
									</li>
								</ul>
						  </div>
						</div>
					</div>
					{{/each}}
				</div>
			</li>
			<br>
			<li class="list-group-item mb-2">
				<h4>Facility:</h4>
				<div class="row">
					{{#each certObj.facility}}
					<div class="col-sm-4 mx-auto">
						<div class="card" style="width: 20rem;">
						  <div class="card-body">
						    <h4 class="card-title">{{title}}</h4>
						    <h6 class="card-subtitle mb-2">issued: {{formatDate issued 'MMMM Do YYYY'}}</h6>
								<h6 class="card-subtitle mb-2">expiration: {{formatDate expiration 'MMMM Do YYYY'}}</h6>
						    <p class="card-text">Notes: {{notes}}</p>
								<ul class="list-inline">
								  <li class="list-inline-item">
										<a href="#" class="btn btn-secondary"><i class="fa fa-pencil"></i> Edit</a>
									</li>
								  <li class="list-inline-item">
										<form action="/cert/{{id}}?_method=DELETE" method="POST" id="delete-form">
											<button class="btn btn-danger" type="submit"><i class="fa fa-remove"></i>Delete</button>
										</form>
									</li>
								</ul>
						  </div>
						</div>
					</div>
					{{/each}}
				</div>
			</li>
			<br>
			<li class="list-group-item mb-2">
				<h4>Miscellaneous:</h4>
					<div class="row">
						{{#each certObj.miscellaneous}}
						<div class="col-sm-4 mx-auto">
							<div class="card" style="width: 20rem; d-inline-block">
							  <div class="card-body">
							    <h4 class="card-title">{{title}}</h4>
							    <h6 class="card-subtitle mb-2">issued: {{formatDate issued 'MMMM Do YYYY'}}</h6>
									<h6 class="card-subtitle mb-2">expiration: {{formatDate expiration 'MMMM Do YYYY'}}</h6>
							    <p class="card-text">Notes: {{notes}}</p>
									<ul class="list-inline">
									  <li class="list-inline-item">
											<a href="#" class="btn btn-secondary"><i class="fa fa-pencil"></i> Edit</a>
										</li>
									  <li class="list-inline-item">
											<form action="/cert/{{id}}?_method=DELETE" method="POST" id="delete-form">
												<button class="btn btn-danger" type="submit"><i class="fa fa-remove"></i>Delete</button>
											</form>
										</li>
									</ul>
							  </div>
							</div>
						</div>
						{{/each}}
					</div>
			</li>
		</ul>
	</div>
</div>
